<div class="aouth-container lg-container">
    <app-sidebar></app-sidebar>
    <div class="container">
      <div class="main-content">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2>{{'changePassword.heading' | translate}}</h2>
          </div>
        </div>
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <div class="row">
          <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-xs-12">
            <div class="row form-row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group form-field">
                  <div class="form-field__control" data-fa-icon="&#xf023;">
                    <input id="current-password" [type]="currPass ? 'password' : 'text'" class="form-field__input" formControlName="currentPass" [ngClass]="{ 'is-invalid': submitted && f.currentPass.errors }" placeholder=""/>
                    <a href="javascript:void(0);" (click)="showcurrPass()"><span class="input-icon"
                      [ngClass]="{'fa': true, 'fa-eye': (!currPass), 'fa-eye-slash': (currPass)}"></span></a>  
                    <label for="current-password" class="form-field__label">{{'changePassword.current-password' | translate}}</label>
                     <div *ngIf="submitted && f.currentPass.errors" class="invalid-feedback">
                        <div *ngIf="f.currentPass.errors.required">{{'changePassword.Current-password-required' | translate}}</div>
                        <div *ngIf="f.currentPass.errors.minlength">{{'changePassword.minimum-pass' | translate}}</div>
                    </div>
                  </div>
                </div>
              </div>
               <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group form-field">
                  <div class="form-field__control" data-fa-icon="&#xf023;">
                    <input [type]="showHidePass ? 'password' : 'text'" id="new-password" class="form-field__input" placeholder="" formControlName="newPass" [ngClass]="{ 'is-invalid': submitted && f.newPass.errors }" />
                    <a href="javascript:void(0);" (click)="showHideChangePaswrd()"><span class="input-icon"
                      [ngClass]="{'fa': true, 'fa-eye': (!showHidePass), 'fa-eye-slash': (showHidePass)}"></span></a>
                    <label for="new-password" class="form-field__label">{{'changePassword.new-password' | translate}}</label>
                    <div *ngIf="submitted && f.newPass.errors" class="invalid-feedback">
                        <div *ngIf="f.newPass.errors.required">{{'changePassword.New-Password-required' | translate}}</div>
                        <div *ngIf="f.newPass.errors.minlength">{{'changePassword.minimum-new-pass' | translate}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group form-field">
                  <div class="form-field__control" data-fa-icon="&#xf023;">
                    <input id="confirm-password" [type]="showHideConfirmPass ? 'password' : 'text'" class="form-field__input" placeholder=""  formControlName="conformPass" [ngClass]="{ 'is-invalid': submitted && f.conformPass.errors }"/>
                    <a href="javascript:void(0);" (click)="showHideConfirm()"><span class="input-icon"
                      [ngClass]="{'fa': true, 'fa-eye': (!showHideConfirmPass), 'fa-eye-slash': (showHideConfirmPass)}"></span></a> 
                    <label for="confirm-password" class="form-field__label">{{'changePassword.confirm-new-pasword' | translate}}</label>
                    <div *ngIf="submitted && f.conformPass.errors" class="invalid-feedback">
                        <div *ngIf="f.conformPass.errors.required">{{'changePassword.Confirm-Password-required' | translate}}</div>
                        <div *ngIf="f.conformPass.errors.minlength">{{'changePassword.minimum-conf-pass' | translate}}</div>
                          <div *ngIf="f.conformPass.errors.mustMatch">{{'changePassword.match-pass' | translate}}</div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row btn-row mt-20">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <button class="btn btn-primary d-block rounded-pill btn-lg">{{'changePassword.button-change-password' | translate}}</button>
              </div>
            </div>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
