<div class="aouth-container lg-container">
    <app-sidebar></app-sidebar>
    <div class="container">
      <div class="main-content">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <h2>How CleanRex Works?</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="steps-grid">
              <div class="grid-box">
                <div class="step-box active">
                  <div class="step-icon"><span><img src="./assets/images/step-booking.png"></span></div>
                  <h6>Book</h6>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                </div>
              </div>
              <div class="grid-box">
                <div class="step-box">
                  <div class="step-icon"><span><img src="./assets/images/step-clean.png"></span></div>
                  <h6>Clean</h6>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                </div>
              </div>
              <div class="grid-box">
                <div class="step-box">
                  <div class="step-icon"><span><img src="./assets/images/step-relax.png"></span></div>
                  <h6>Relax</h6>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row service-booking-form">
              <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <div class="sb-form-item" data-fa-icon="&#xf11c;">
                    <input type="text" name="" class="form-control" placeholder="Postal Code">
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <div class="sb-form-item" data-fa-icon="&#xf236;">
                    <div class="select">
                      <select class="form-control">
                        <option>Bedroom</option>
                        <option>Item 2</option>
                        <option>Item 3</option>
                        <option>Item 4</option>
                        <option>Item 5</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <div class="sb-form-item" data-fa-icon="&#xf2cd;">
                    <div class="select">
                      <select class="form-control">
                        <option>Bathroom</option>
                        <option>Item 2</option>
                        <option>Item 3</option>
                        <option>Item 4</option>
                        <option>Item 5</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <div class="sb-form-item" data-fa-icon="&#xf0e0;">
                    <input type="text" name="" class="form-control" placeholder="Enter your mail">
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <div class="sb-form-item" data-fa-icon="&#xf095;">
                    <input type="text" name="" class="form-control" placeholder="Mobile number">
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <div class="sb-form-item" data-fa-icon="&#xf1fe;">
                    <div class="select">
                      <select class="form-control">
                        <option>Size: Sq Meters</option>
                        <option>Item 2</option>
                        <option>Item 3</option>
                        <option>Item 4</option>
                        <option>Item 5</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <div class="sb-form-item">
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-secondary active">Kitchen</button>
                      <button type="button" class="btn btn-secondary">Kitchenet</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <div class="sb-form-item" data-fa-icon="&#xf0f4;">
                    <input type="text" name="" class="form-control" placeholder="Living room">
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <div class="sb-form-item" data-fa-icon="&#xf1ad;">
                    <div class="select">
                      <select class="form-control">
                        <option>Type of property</option>
                        <option>Item 2</option>
                        <option>Item 3</option>
                        <option>Item 4</option>
                        <option>Item 5</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <div class="sb-form-item" data-fa-icon="&#xf013;">
                    <div class="select">
                      <select class="form-control">
                        <option>Type of service</option>
                        <option>Item 2</option>
                        <option>Item 3</option>
                        <option>Item 4</option>
                        <option>Item 5</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <div class="sb-form-item" data-fa-icon="&#xf0ad;">
                    <input type="text" name="" class="form-control" placeholder="Other services">
                  </div>
                </div>
              </div>
              <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                  <div class="sb-form-item" data-fa-icon="&#xf015;">
                    <div class="select">
                      <select class="form-control">
                        <option>No Verandas</option>
                        <option>Item 2</option>
                        <option>Item 3</option>
                        <option>Item 4</option>
                        <option>Item 5</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-xs-12 mt-20">
                <button class="btn btn-primary rounded-pill">Book a Cleaning</button>
              </div>
            </div>
          </div>
        </div>  
      </div>
    </div>
  </div>
