<style>
body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
</style>

<div class="aouth-container lg-container service-provider-container">
    <app-sidebar></app-sidebar>
<div class="container">
    <div class="main-content">
      <div class="row services-listing-lg">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0">
          <h3>{{'myService.my-service' | translate}}</h3>
        </div>
           <div style="margin-top: 7%;" id="myModal" class="modal">

              <!-- Modal content -->
              <div class="modal-content" style="width: 57%; margin-top: 7%; margin-left: 25%; ">
                <span id="closeSectionId" (click)="closeRatingPopup()" class="close">&times;</span>
                <h4>{{'service-progress.select-rating' | translate}}</h4>
                 <ul class="list-inline rating-list" style="display: inline-block !important;">
                          <li (click)="countStar(star)"
                              [ngClass]="{'selected': (star <= selectedValue)}" *ngFor="let star of stars" style="float:left;">
                            <i class="fa fa-star"></i>
                          </li> 
                    </ul>
                    <textarea placeholder="{{'service-progress.enter-reviews' | translate}}" id="review_id" class="form-control"></textarea>
                    <button  (click)="finalComplete()" class="btn btn-primary rounded-pill mt-20" style="display: block;max-width: 220px;">Submit</button>
              </div>
            </div>
        <div *ngFor="let s of RequestData" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 p-0">
          <div  class="sc-wrapper mb-25">
            <div class="sc-button-wrapper">
              <ul class="list-inline d-flex align-items-center mb-20 justify-content-end">
                <li *ngIf="s.serviceProviderData.id == undefined">
                  <a  class="btn {{s.check_class}} btn-sm rounded-pill"  style="pointer-events: none;cursor: not-allowed;">{{s.check_status}}</a></li>
                 <li *ngIf="s.serviceProviderData.id != undefined"><a *ngIf="s.serviceProviderData.progress_status == 1" class="btn btn-primary d-block rounded-pill" >{{'myService.progress' | translate}}</a></li>

                <li *ngIf="s.serviceProviderData.id != undefined" ><a *ngIf="s.serviceProviderData.progress_status == 2" (click)="markAsCompleted(s)"  class="btn btn-success btn-sm rounded-pill">{{'myService.mark-complete' | translate}}</a></li>
                <li *ngIf="s.serviceProviderData.progress_status"><a  *ngIf="s.serviceProviderData.progress_status == 3" class="btn btn-primary d-block rounded-pill">{{'myService.completed' | translate}}</a></li>
              </ul>
            </div>
            <div class="card shadow-sm rounded service-card">
              <div class="card-body">
                <div class="row">
                  <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-xs-12">
                    <div class="sc-content">
                      <div class="sc-image">
                        <span><img src="{{s.service_image}}"></span>
                      </div>
                      <h5 (click)="serviceDetails(s)" class="mb-2" style="cursor: pointer;">{{s.service_name}}</h5>
                      <p>{{s.services_description}}</p>
                      <div class="d-flex align-items-center sc-price">
                        <h2 class="mb-0 theme-color mr-20">€{{s.coast}}</h2>
                        <h5 class="mb-0 theme-color">{{s.cleaning_duration}} hours</h5>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="card-secondry">
                          <span class="d-block">{{'myService.booking-date' | translate}}</span>
                          <h6>{{s.booking_date | date }}</h6>
                        </div>
                        <div class="card-secondry">
                          <span class="d-block">{{'myService.booking-time' | translate}}</span>
                          <h6>{{s.booking_time  }}</h6>
                        </div>
                      </div>
                      <div  class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div  class="card-secondry user-info-box">
                          <div class="text-center">
                            <div class="user-photo">
                              <span><img src="{{s?.user_image}}"></span>
                            </div>
                            <h6>{{s?.user_name}}</h6>
                            <div class="sc-location">
                              <span class="fal fa-map-marker-alt"></span>
                              <span>{{s?.location}}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      <div *ngIf="RequestData.length == 0" class="row mt-80">
          <div  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 mainbox">
     
            <div class="boxblock">
             <i class="fas fa-frown-open"></i>
             </div>
              <p class="mt-20 mb-20">{{'myService.not-matches' | translate}}<br> {{'myService.please-try' | translate}}</p> </div>
            </div>
       
      
    
       <!--  <div  *ngIf="RequestData.length == 0" class="alert alert-primary" role="alert">
   No records found
</div> -->
        <!-- <div *ngIf="RequestData.length == 0">
          No services found
        </div> -->
       

     


  </div>
  </div>
