<div class="lg-container-v2">
    <div class="lg-contents-v2">
        <div class="container">
            <div class="row">
                   <div class="col-xl-6 col-lg-5 col-md-12 col-sm-12 col-xs-12">
          <div class="lg-graphic-v2">
            <span class="mt-40"><img src="./assets/images/resetpass.png"></span>
          </div>
        </div>
                <div class="col-xl-6 col-lg-7 col-md-12 col-sm-12 col-xs-12">
                    <div class="lg-box-main">
                        <div class="lg-box-inner">
                            <h4 class="text-center">Create a New Password</h4>
                            <form [formGroup]="resetPassword" (ngSubmit)="resetPass()">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 passview">
                                        <div class="form-group form--group">
                                            <label>Password</label>
                                            <input [type]="showHideBtn ? 'password' : 'text'"
                                                onKeyPress="if(this.value.length==6) return true;"
                                                placeholder="Password" formControlName="password"
                                                type="password" class="form-control">
                                            <a href="javascript:void(0);" (click)="showHidePassword()" id="show">
                                            <span class="input-icon" [ngClass]="{'fa': true, 'fa-eye': (!showHideBtn), 'fa-eye-slash': (showHideBtn)}"></span></a>
                                        </div>
                                        <div *ngIf="resetPassword.controls['password'].errors && ( !resetPassword.controls['password'].pristine || submitted || resetPassword.controls['password'].touched )"
                                            class="error-msg">
                                            <div [hidden]="!resetPassword.controls['password'].errors.required">Password is required.</div>
                                            <div [hidden]="!resetPassword.controls.password.hasError('minlength')">
                                                Password length should be minimum 6 characters.</div>
                                        </div>
                                    </div>

                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 passview">
                                        <div class="form-group form--group">
                                            <label>Conform Password</label>
                                            <input [type]="showHideConBtn ? 'password' : 'text'"
                                                onKeyPress="if(this.value.length==6) return true;"
                                                placeholder="Conform Password" formControlName="conformPass"
                                                type="password" class="form-control">
                                            <a href="javascript:void(0);" (click)="showHideConPassword()"
                                                id="shows"><span class="input-icon"
                                                    [ngClass]="{'fa': true, 'fa-eye': (!showHideConBtn), 'fa-eye-slash': (showHideConBtn)}"></span></a>
                                        </div>
                                        <div *ngIf="resetPassword.controls['conformPass'].errors && ( !resetPassword.controls['conformPass'].pristine || submitted || resetPassword.controls['conformPass'].touched )"
                                            class="error-msg">
                                            <div [hidden]="!resetPassword.controls['conformPass'].errors.required">
                                                Confirm password is required.</div>
                                            <div [hidden]="!resetPassword.controls['conformPass'].errors.mustMatch">
                                                Password and Confirm password does not match.</div>
                                        </div>
                                    </div>

                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group form--group mt-20">
                                            <input type="submit" value="Submit"
                                                class="btn btn-primary rounded-pill d-block w-100">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>