<div class="aouth-container lg-container">
 <app-services-side-bar></app-services-side-bar>
     <div class="container">
      <div class="main-content">
        <div class="bonus-packages">
       <!--    <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <h6 class="mb-10">CleanRex</h6>
              <h2 class="mb-40">My Bonus Cleaning Packages</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="win-banner">
                <h5 class="font-weight-500 theme-color mb-10">Recommend Cleanzy and win € 1,000</h5>
                <h6 class="font-weight-400">Are you ready to win <b>€1,000</b> by recommending us to your loved ones during September?</h6>
                <div class="banner-area" data-overlay>
                  <div class="ba-caption">
                    <div class="counter-container">
                      <div class="counter-box">
                        <h1>25</h1>
                        <h5>Day</h5>
                      </div>
                      <div class="counter-box">
                        <h1>18</h1>
                        <h5>Hour</h5>
                      </div>
                      <div class="counter-box">
                        <h1>13</h1>
                        <h5>Min</h5>
                      </div>
                      <div class="counter-box">
                        <h1>59</h1>
                        <h5>Sec</h5>
                      </div>
                    </div>
                  </div>
                  <div class="bg" style="background-image: url('./assets/images/bonus-banner.png');"></div>
                </div>
              </div>
            </div>
          </div> -->
         
          <div class="row">
            <!-- <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="reference-container mt-30">
                <h6 class="font-weight-400">In the new reference system, both the competition and the reward at the end are much more enjoyable.Here are the steps you need to follow:</h6>
              </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="reference-container mb-30">
                <div class="row">
                  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="card">
                      <img src="./assets/images/ref-img-1.png" class="card-img-top" alt="">
                      <div class="card-body pl-10 pt-10 pr-10 pb-10">
                        <div class="card-content shadow-sm rounded border bg-white pl-10 pt-10 pr-10 pb-10">
                          <h5 class="card-title">01</h5>
                          <p class="card-text">Recommend Cleanzy to your loved ones and make them get services with your reference code</p>
                          <a href="#" class="btn btn-link pl-0 pr-0 pt-0 pb-0">Learn More</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="card">
                      <img src="./assets/images/ref-img-2.png" class="card-img-top" alt="">
                      <div class="card-body pl-10 pt-10 pr-10 pb-10">
                        <div class="card-content shadow-sm rounded border bg-white pl-10 pt-10 pr-10 pb-10">
                          <h5 class="card-title">02</h5>
                          <p class="card-text">Earn 10 Happypoints for each of your friends who gets service with your reference code</p>
                          <a href="#" class="btn btn-link pl-0 pr-0 pt-0 pb-0">Learn More</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="card">
                      <img src="./assets/images/ref-img-3.png" class="card-img-top" alt="">
                      <div class="card-body pl-10 pt-10 pr-10 pb-10">
                        <div class="card-content shadow-sm rounded border bg-white pl-10 pt-10 pr-10 pb-10">
                          <h5 class="card-title">03</h5>
                          <p class="card-text">Look at the Leadership Board that is being updated during the day, see your rank among the competitors.</p>
                          <a href="#" class="btn btn-link pl-0 pr-0 pt-0 pb-0">Learn More</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="card">
                      <img src="./assets/images/ref-img-4.png" class="card-img-top" alt="">
                      <div class="card-body pl-10 pt-10 pr-10 pb-10">
                        <div class="card-content shadow-sm rounded border bg-white pl-10 pt-10 pr-10 pb-10">
                          <h5 class="card-title">04</h5>
                          <p class="card-text">Complete the competition in 1st place until 30 September 2020 Get € 1,000</p>
                          <a href="#" class="btn btn-link pl-0 pr-0 pt-0 pb-0">Learn More</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                             <h6 class="mb-10">Invite Friend</h6>

              <div class="row no-gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="reference-code">
                    <h6 class="mb-0">Your unique reference code: <span id= "copyData" class="theme-color">{{reffer_code}}</span></h6>
                  </div>
                </div>
               <!--  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group form-field">
                    <div class="form-field__control rounded-0" data-fa-icon="&#xf0e0;">
                      <input id="email" type="text" class="form-field__input" placeholder=""/>
                      <label for="email" class="form-field__label">Email</label>
                    </div>
                  </div>
                </div> -->
              </div>
                <br>
               <div class="row no-gutters">
                
                <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12">
                  <div class="form-group form-field">
                    <div class="form-field__control rounded-0" data-fa-icon="&#xf0e0;">
                      <input id="email" type="text" class="form-field__input" placeholder=""/>
                      <label for="email" class="form-field__label">Email</label>
                    </div>
                  </div>
                </div>
                 <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-xs-12">
                      <div class="form-group form-field">
                  <div class="form-field__control select-box" data-fa-icon="">
                    <div class="select">
                        <select  name="user_type" id="user_type" class="form-field__input">
                          <option  value="1" selected>Customer</option>
                        <option  value="2">Servic Provider</option>
                        </select>
                    </div>
                    <label for="user_type" class="form-field__label">Select User Type</label>
                  </div>
                <!--   <div class="form-group form-field">
                    <div class="form-field__control rounded-0" data-fa-icon="&#xf0e0;">
                      <select name="user_type" id="user_type" class="form-field__input">
                        <option value="1" selected>Customer</option>
                        <option value="2">Servic Provider</option>
                      </select>
                      <label for="user_type" class="form-field__label">Select User Type</label>
                    </div>
                  </div> -->
                </div>
              </div>

              
                <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-xs-12 btn-row text-center">
                  <a (click)="share()" class="btn btn-primary rounded-pill mt-3" style="min-width: 120px;">Send Mail</a>
                </div>
                </div>
                <div class="row mt-15">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="sharing-options">
                    <div class="sharing-box border shadow-sm">
                      <!-- <span class="fab fa-whatsapp brand-icon"></span>  -->
                      <span>Share on Whatsapp

                       <share-buttons  [theme]="'material-dark'"
                         [include]="['whatsapp']"
                         [url]="refferUrl"
                         [autoSetMeta]="false"
                        >
                          
                        </share-buttons>
                      </span>
                    </div>
                    <div class="sharing-box border shadow-sm">
                      <!-- <span class="fab fa-facebook brand-icon"></span> -->
                       <span>Share on Facebook 

                        <share-buttons [theme]="'material-dark'"
                         [include]="['facebook']"
                         [url]="refferUrl"
                         [autoSetMeta]="false"
                        ></share-buttons>
                      </span>
                    </div>
                    <div class="sharing-box border shadow-sm">
                      <!-- <span class="fab fa-twitter brand-icon"></span>  -->
                      <span>Share on Twitter

                      <share-buttons  [theme]="'material-dark'"
                         [include]="['twitter']"
                         [url]="refferUrl"
                         [autoSetMeta]="false"
                        ></share-buttons>
                      </span>
                    </div>


                       

                         

                         

                  </div>
                </div>
              </div>
            </div>
          </div>
           <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="table-responsive mt-30 mb-0">
                <table *ngIf="getRefferData.length > 0" class="table table-striped table-bordered table-hover text-center">
                  <thead class="thead-dark bg-primary">
                    <tr>
                      <th scope="col">Id</th>
                      <th scope="col">Name</th>
                      <th scope="col">Points</th>
                      <th scope="col">Reffer Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let s of getRefferData;let i=index;">
                      <td>{{i+1}}</td>
                      <td>{{s.reffer_name}}</td>
                      <td>{{s.points}}</td>
                      <td>{{s.created_date | date}}</td>
                    </tr>
                    
                   
                  </tbody>
                </table>
                
              </div>
            </div>
          </div>
                   <div *ngIf="getRefferData.length == 0" class="row mt-20">
          <div  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 mainbox">
     
            <div class="boxblock">
             <i class="fas fa-frown-open"></i>
             </div>
              <p class="mt-20 mb-20">Sorry, we couldn't find any matches.<br> Please try again</p> </div>
            </div>
            <!--          <div  *ngIf="getRefferData.length == 0" class="alert alert-primary" role="alert">
   No, records found
</div> -->
         <!--  <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="terms-container mt-40">
                <h3>Terms and Conditions</h3>
                <ul class="list-inline list-styled-custom">
                  <li>Our reference competition will continue between 28 August - 30 September 2020.</li>
                  <li>Our reference competition will be held within the 4 countries (UK, Turkey, Spain and Italy) that we are offering services.</li>
                  <li>Reference codes will be valid for all services we offer on our website. The valid services are: End of Tenancy, Deep cleaning and Domestic cleaning.</li>
                  <li>Reference prize is 10 GBP for all the services.</li>
                  <li>Users can share their reference codes with as many people as they want.</li>
                  <li>Precondition to earn points is that the referenced person to create an order on website and the service to get completed. If the referenced person cancels the service before it gets completed the user will not be earning any points.</li>
                  <li>Services of the reffered people should be completed by end of 30 September 2020.</li>
                  <li>The cash prize transfer will be made to the bank account that the winner of the reference competition will choose.</li>
                </ul>
              </div>
            </div>
          </div>
   -->
  
  
        </div>
      </div>
    </div>
  </div>
