<div class="aouth-container lg-container">
  <app-sidebar class="sidebar-wrapper" *ngIf="userId != null"></app-sidebar>
  <div class="container">
    <div class="main-content">
      <div class="row faq-contents">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="faq-graphic">
            <span><img src="assets/images/faq-graphic.png"></span>
          </div>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <h1>{{'stillQuestion.faq' | translate}}</h1>
              <h6 class="po-sub-title">{{'stillQuestion.title' | translate}}</h6>
            </div>

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 about-services-area">
              <div class="faqs-accordian">
                <div class="accordion" id="accordionExample">
                  <div *ngFor="let s of FAQData;let i=index;" class="card">
                    <div class="card-header" id="headingOne{{i}}">
                      <h2 class="mb-0">
                        <button id="devId{{i}}" (click)="open(i,s.id)" class="{{i== 0 ? 'btn btn-link btn-block text-left':'btn btn-link btn-block text-left collapsed'}}  devDisShow" type="button" data-toggle="collapse" [attr.data-target]="'#' + s.id"  aria-expanded="true" aria-controls="collapseOne">
                          {{s.question}}
                        </button>
                      </h2>
                    </div>

                    <div [attr.id]="s.id" class="{{i == 0 ? 'collapse show':'collapse'}} devNone" aria-labelledby="headingOne{{i}}" data-parent="#accordionExample">
                      <div class="card-body">
                        {{s.answer}}
                      </div>
                    </div>
                  </div>

                  <div *ngIf="FAQData.length == 0">
                    {{'stillQuestion.not-found' | translate}}
                  </div>
                  <!-- <div class="card">
                    <div class="card-header" id="headingTwo">
                      <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          At vero eos et accusamus et iusto odio?
                        </button>
                      </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                      <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingThree">
                      <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThr1ee" aria-expanded="false" aria-controls="collapseTwo">
                          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium?
                        </button>
                      </h2>
                    </div>
                    <div id="collapseThr1ee" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                      <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>