<!-- <div class="About-wrapper mt-180">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="back-img mb-50">
          <div class="main-heading">
            <h2>About Us</h2>
            <p>Kelly´s Army is an online platform that acts as a marketplace connecting clients with cleaning professionals.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="service-page pt-20 pl-20 pr-20 pb-20">
          <p></p>
          <h4>Vision</h4>
          <hr>
          <p>To deliver high-end cleaning services to our customers provided by selected cleaning professionals.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="service-page pt-20 pl-20 pr-20 pb-20">
          <p></p>
          <h4>Mission</h4>
          <hr>
          <p>We shall use online platforms to connect customers and cleaning professionals seeking to excel and providing a thrust wordy service.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="service-page pt-20 pl-20 pr-20 pb-20">
          <p></p>
          <h4>Values</h4>
          <hr>
          <p>Honesty, Client Value, Respect for the individual and Fairness.</p>
        </div>
      </div>
    </div>
  </div>
  <section id="full-page-people" class="container-fluid mt-50">
    <div class="Overlay">
      <div class="content row">
        <div class="col-md-12">
          <div class="main-heading text-center">
            <P>Currently focused in Portugal we expect to roll our expertise to other UE countries. Our onboarding process is thorough and for each member our staff we perform a background check which includes references, criminal records, document collection and experience. Additionally, we encourage to follow specific training programs such as Covid-19 safe techniques. Our scoring systems also allow customers to select the best professionals. Our customer loyalty program also allows clients to keep benefiting with our services.</P>
            <P>At Kelly´s Army we believe the positive effect of a clean-living environment. Whether you are a student needing a one-off service, or a busy person needing regular service we understand your requirements. Book your cleaning service with just a few clicks away.</P>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  </div> -->
    <div class="container">
  <div class="row">
    <div class="col-sm-12">
     <div class="About-wrapper mt-180 mb-90" innerHTML="{{contactUsData}}"></div>
    </div>
  </div>
</div>

<!--   <div class="About-wrapper mt-180" innerHTML="{{contactUsData}}"></div> -->