<div class="lg-container-v2">
    <div class="lg-contents-v2">
      <div class="container">
        <div class="row">
              <div class="col-xl-6 col-lg-5 col-md-12 col-sm-12 col-xs-12">
          <div class="lg-graphic-v2">
            <span><img src="./assets/images/forgotpass.png"></span>
          </div>
        </div>
          <div class="col-xl-6 col-lg-7 col-md-12 col-sm-12 col-xs-12">
            <div class="lg-box-main">
              <div class="lg-box-inner">
                <h4 class="text-center">{{'forgot-password.forgot-password' | translate}}</h4>
                <form [formGroup]="forgotPassword" (ngSubmit)="forgotPass()">
                <div class="row">
                 
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group form--group">
                      <label>{{'forgot-password.email' | translate}}</label>
                      <input type="text" placeholder="{{'customer-registration.email-placeholder' | translate}}" onKeyPress="if(this.value.length==50) return false;" formControlName="email" type="email" class="form-control">
                      <span class="fal fa-envelope input-icon"></span>
                    </div>
                    <div *ngIf="forgotPassword.controls['email'].errors && ( !forgotPassword.controls['email'].pristine || submitted ||forgotPassword.controls['email'].touched )" class="error-msg">
                      <div [hidden]="!forgotPassword.controls['email'].errors.required">{{'login.email-is-required' | translate}}</div>
                      <div [hidden]="!forgotPassword.controls['email'].errors.pattern">{{'login.invalid-email' | translate}}</div>
                    </div>
                  </div>
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group form--group mt-20">
                      <input type="submit" value="Send" class="btn btn-primary rounded-pill d-block w-100">
                    </div>
                  </div>
                </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  