        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

<div (click)="changeDate1();changeDate()"  class="domestic-cleaning-area pb-60">
  <div class="container lg-container">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2 class="text-center">{{'booking_services.title' | translate}}</h2>
      </div>
    </div>
    <div class="row mt-50 row-main-content">
      <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12 col-main-form">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h5>{{'booking_services.location' | translate}}</h5>
          </div>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row form-row">
              <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-sm-12">
                <div class="form-group form-field">
                  <div class="form-field__control select-box" data-fa-icon="&#xf1ad;">
                    <div class="">
                       
                     
                      <input id="city" #search type="text"  autocomplete="off" class="form-field__input" formControlName="location"  placeholder="" [ngClass]="{ 'is-invalid': submitted && f.location.errors }" />
                    <div *ngIf="submitted && f.location.errors" class="invalid-feedback">
                        <div *ngIf="f.location.errors.required">Location is required</div>
                    </div>


                    </div>
                    <label for="city" class="form-field__label">Location</label>
                  </div>
                </div>
              </div> -->

    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-sm-12">
                                    <div class="form-group form-field">
                                        <div class="form-field__control select-box" data-fa-icon="&#xf1ad;">
                                            <div class="select">
                                                <!-- <input id="city" type="text" #search autocomplete="off" class="form-field__input" formControlName="location" placeholder="" [ngClass]="{ 'is-invalid': submitted && f.location.errors }" /> -->
                                                   <select id="city" class="form-field__input selectnew"  formControlName="location_id" [ngClass]="{ 'is-invalid': submitted && f.location_id.errors }">
                                                          <option value="" disabled="" *ngIf="userAddressData.length == 0">No address found</option>
                                                           <option selected="" value=""  *ngIf="userAddressData.length > 0">{{'booking_services.select_address' | translate}}</option>
                                                          <option *ngFor="let s_loc of userAddressData"  value="{{s_loc.id}}">{{s_loc.title}}</option>
                                                         
                                                         
                                                        </select>
                                                <div *ngIf="submitted && f.location_id.errors" class="invalid-feedback">
                                                    <div *ngIf="f.location_id.errors.required">{{'booking_services.location_validation' | translate}}</div>
                                                </div>
                                            </div>
                                            <label for="city" class="form-field__label">{{'booking_services.location' | translate}}</label>
                                        </div>
                                    </div>
                                </div>
                                 <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-sm-12">
                                    <div class="form-group form-field">
                                        <a class="btn btn-primary btn-block btn-lg rounded-pill" routerLink="/address/0"> {{'booking_services.add_new_address' | translate}}</a>
                                    </div></div>            
            </div>
            <div class="row form-row mt-20">
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-sm-12">
                <h5> {{'booking_services.select_date' | translate}}</h5>
                <div class="form-group form-field select_date_form_field">
                  <div class="input-btn-small">
                    <a (click)="picker.open()" class="btn btn-outline-secondary rounded-pill"> {{'booking_services.select' | translate}}</a>
                  </div>
                  <div class="form-field__control">
                    <input [min]="minDate" (dateChange)="devEV()" (click)="picker.open()"  id="select_date" type="text"  matInput [matDatepicker]="picker" formControlName="booking_date" class="form-field__input" placeholder="" [ngClass]="{ 'is-invalid': submitted && f.booking_date.errors }"/>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    
                    <!--  <input [owlDateTime]="dt" (blur)="changeDate()" id="select_date" formControlName="booking_date" [owlDateTimeTrigger]="dt" class="form-field__input"  [ngClass]="{ 'is-invalid': submitted && f.location.errors }" > -->
                       <div *ngIf="submitted && f.booking_date.errors" class="invalid-feedback">
                        <div *ngIf="f.booking_date.errors.required">{{'booking_services.date_validation' | translate}}</div>
                    </div>
                <!-- <owl-date-time #dt></owl-date-time> -->
                    <label (click)="picker.open()"  for="select_date" class="form-field__label">{{'booking_services.date' | translate}}</label>
                  </div>
                </div>
              </div>
             <!--  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-sm-12">
                <h5>By The Hour</h5>
                <div class="form-group form-field">
                  <div class="form-field__control select-box" data-fa-icon="&#xf254;">
                    <div class="select">
                        <select formControlName="by_the_houre" (click)="changeDate()" id="by_hour" class="form-field__input" [ngClass]="{ 'is-invalid': submitted && f.by_the_houre.errors }">
                          <option value="3">3 Hour</option>
                          <option value="4">4 Hour</option>
                          <option value="5">5 Hour</option>
                          <option value="6">6 Hour</option>
                          <option value="7">7 Hour</option>
                          <option value="8">8Hour</option>
                        </select>
                         <div *ngIf="submitted && f.by_the_houre.errors" class="invalid-feedback">
                        <div *ngIf="f.by_the_houre.errors.required">Hour is required</div>
                    </div>
                    </div>
                    <label for="by_hour" class="form-field__label">Hour</label>
                  </div>
                  <div class="text-msg mt-10">
                    <span class="fal fa-clock theme-color"></span>
                    <span>Recommended For 0-49 minutes</span>
                  </div>
                </div>
              </div> -->
               <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-sm-12">
                <h5>{{'booking_services.select_time' | translate}}</h5>
                <div class="form-group form-field select_time_form_field">
                  <div class="form-field__control select-box" data-fa-icon="&#xf254;">
                    <div class="">
                        <!-- <select formControlName="by_the_houre" (click)="changeDate()" id="by_hour" class="form-field__input" [ngClass]="{ 'is-invalid': submitted && f.by_the_houre.errors }">
                          <option value="3">3 Hour</option>
                          <option value="4">4 Hour</option>
                          <option value="5">5 Hour</option>
                          <option value="6">6 Hour</option>
                          <option value="7">7 Hour</option>
                          <option value="8">8Hour</option>
                        </select> -->
                        <ejs-timepicker  [min]="minDate1"
 formControlName="booking_time" (keypress)="changeDate1()"  (click)="changeDate()"  [format]='formatString' [step]='interval' id="by_hour" class="form-field__input" [ngClass]="{ 'is-invalid': submitted && f.booking_time.errors }"></ejs-timepicker>
                         <div *ngIf="submitted && f.booking_time.errors" class="invalid-feedback">
                        <div *ngIf="f.booking_time.errors.required"> {{'booking_services.time_validation' | translate}}</div>
                    </div>
                    </div>
                    <label for="by_hour" class="form-field__label"> {{'booking_services.time' | translate}}</label>
                  </div>
                  <div class="text-msg mt-10">
                    <span class="fal fa-clock theme-color"></span>
                    <span>{{'booking_services.recommended' | translate}}</span>
                  </div>
                </div>
              </div>
            </div>
           <!--  <div class="row form-row mt-20">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-sm-12">
                <h5>How many bedrooms and bathrooms need cleaning?</h5>
                <div class="form-group form-field">
                  <div class="form-field__control select-box font-weight-900" data-fa-icon="&#xf7bd;">
                    <div class="select">
                        <select  (change)='bedroomChange($event.target.value)' id="no_of_bedroom" formControlName="no_of_cleaning" class="form-field__input" [ngClass]="{ 'is-invalid': submitted && f.no_of_cleaning.errors }">
                          <option *ngFor="let bed of bedroomData;" value="{{bed.id}}">{{bed.name}}</option>
                        </select>
                         <div *ngIf="submitted && f.no_of_cleaning.errors" class="invalid-feedback">
                        <div *ngIf="f.no_of_cleaning.errors.required">Cleaning is required</div>
                    </div>
                    </div>
                    <label for="no_of_bedroom" class="form-field__label">Select the number of bedroom and bathroom.</label>
                  </div>
                  <div class="text-msg mt-10">
                    <span>Based on the size of your property we recommend to book a minimum of 6 hours for your Domestic  Cleaning service.</span>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="row form-row mt-20">
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-sm-12">
                <h5>{{'booking_services.cleaning_duration' | translate}}</h5>
                <div class="cd_qty_box_field">
                  <a style=""(click)="reduceDuration();changeDate1()">-</a>
                  <!-- <span> {{registerForm.value.cleaning_duration}} Hours</span> -->
                  <span>{{cleaning_duration}} {{'booking_services.hours' | translate}}</span>
                  <a  style="" (click)="IncressDuration();changeDate1()" >+</a>
                </div>
              </div>
               <!--   <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-sm-12">
              <h5>Cleaning Frequency</h5>
              <div class="form-group form-field">
                <div class="form-field__control select-box font-weight-900" data-fa-icon="&#xf83e;">
                  <div class="select">
                      <select (click)="changeDate1()" id="frequency" class="form-field__input">
                        <option value="">Weekly</option>
                        <option value="">Item 1</option>
                        <option value="">Item 2</option>
                        <option value="">Item 3</option>
                        <option value="">Item 4</option>
                      </select>
                  </div>
                  <label for="frequency" class="form-field__label">Frequency</label>
                </div>
              </div>
            </div> -->
              <div   class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-sm-12">
                <h5>{{'booking_services.do_you_have_a_pet' | translate}}</h5>
                <div class="form-group form-field">
                  <div class="btn-group btn-group-toggle pet-selection" data-toggle="buttons">
                    <label class="btn btn-secondary active">
                      <input type="radio" name="pets" formControlName="pets" (click)="petsradio('no')" value="no" id="option1" checked> <span>{{'booking_services.no' | translate}}</span>
                    </label>
                    <label class="btn btn-secondary">
                      <input type="radio" name="pets"   formControlName="pets" (click)="petsradio('dog')"  value="dog" id="option2"> <span>{{'booking_services.dog' | translate}}</span>
                    </label>
                    <label class="btn btn-secondary">
                      <input type="radio" name="pets"  formControlName="pets" (click)="petsradio('cat')"  value="cat"  id="option3"> <span>{{'booking_services.cat' | translate}}</span>
                    </label>
                    <label class="btn btn-secondary">
                      <input type="radio" name="pets"  formControlName="pets" (click)="petsradio('other')"  value="other"  id="option4"> <span>{{'booking_services.other' | translate}}</span>
                    </label>
                  </div>
                 <!--  <div *ngIf="this.registerForm.value.pets != 'no'" class="form-field__control select-box font-weight-900" data-fa-icon="&#xf6be;">
                    <div class="select">
                        <select id="frequency" class="form-field__input" formControlName="no_of_pets" [ngClass]="{ 'is-invalid': submitted && f.no_of_pets.errors }">
                          <option value="0">0</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                        </select>
                          <div *ngIf="submitted && f.no_of_pets.errors" class="invalid-feedback">
                        <div *ngIf="f.no_of_pets.errors.required">No of pets  is required</div>
                    </div>
                    </div>
                  </div> -->

                   <div *ngIf="this.registerForm.value.pets != 'no' && checkDog == 'cat'" class="form-field__control select-box font-weight-900"
                                         data-fa-icon="&#xf6be;">
                                            <div class="select">
                                                <select id="frequency" class="form-field__input" formControlName="no_of_pets" [ngClass]="{ 'is-invalid': submitted && f.no_of_pets.errors }">
                                                    <option value="0">0</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                                <div *ngIf="submitted && f.no_of_pets.errors" class="invalid-feedback">
                                                    <div *ngIf="f.no_of_pets.errors.required">{{'booking_services.no_of_pets_validation' | translate}}</div>
                                                </div>
                                            </div>
                                        </div>

                                         <div *ngIf="this.registerForm.value.pets != 'no' && checkDog == 'dog'" class="form-field__control select-box font-weight-900"
                                         data-fa-icon="&#xf6d3;">
                                            <div class="select">
                                                <select id="frequency" class="form-field__input" formControlName="no_of_pets" [ngClass]="{ 'is-invalid': submitted && f.no_of_pets.errors }">
                                                    <option value="0">0</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                                <div *ngIf="submitted && f.no_of_pets.errors" class="invalid-feedback">
                                                    <div *ngIf="f.no_of_pets.errors.required">{{'booking_services.no_of_pets_validation' | translate}}</div>
                                                </div>
                                            </div>
                                        </div>

                                         <div *ngIf="this.registerForm.value.pets != 'no' && checkDog == ''" class="form-field__control select-box font-weight-900"
                                         >
                                            <div class="select">
                                                <select id="frequency" class="form-field__input" formControlName="no_of_pets" [ngClass]="{ 'is-invalid': submitted && f.no_of_pets.errors }">
                                                    <option value="0">0</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                </select>
                                                <div *ngIf="submitted && f.no_of_pets.errors" class="invalid-feedback">
                                                    <div *ngIf="f.no_of_pets.errors.required">{{'booking_services.no_of_pets_validation' | translate}}</div>
                                                </div>
                                            </div>
                                        </div>
                </div>
              </div>
            </div>
              <div class="row form-row mt-20">
            <div style="margin-top: 4%;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <!-- <h5 class="mb-30">Would you like to receive an ironing service?</h5> -->
              <h5 class="mb-30">{{'booking_services.additional_service' | translate}}</h5>
            </div>
            <div *ngFor="let ad of AddData" class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
              <div class="service_box_checkbox">
                <input type="checkbox" (click)="checkedAdditional($event.target.checked,ad);changeDate1()" id="unique_{{ad.id}}">
                <label for="unique_{{ad.id}}">
                  <div class="service-box">
                    <div class="review-tag"><span>7.0</span> <span class="fas fa-star"></span></div>
                    <div class="sb-image">
                      <span><img src="{{ad.image}}"></span>
                    </div>
                    <h6 class="mb-1 mt-20">1 {{'booking_services.hours' | translate}} {{ad.service_name}}</h6>
                    <h3 class="mb-0 theme-color">€ {{ad.amount}}</h3>
                  </div>
                </label>
              </div>
            </div>
          <!--   <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
              <div class="service-box">
                <div class="review-tag"><span>6.0</span> <span class="fas fa-star"></span></div>
                <div class="sb-image">
                  <span><img src="assets/images/domestic-cleaning-2.png"></span>
                </div>
                <h6 class="mb-1 mt-20">5 Hours Ironing</h6>
                <h3 class="mb-0 theme-color">$ 60.00</h3>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
              <div class="service-box">
                <div class="review-tag"><span>5.0</span> <span class="fas fa-star"></span></div>
                <div class="sb-image">
                  <span><img src="assets/images/domestic-cleaning-1.png"></span>
                </div>
                <h6 class="mb-1 mt-20">4 Hours Ironing</h6>
                <h3 class="mb-0 theme-color">$ 50.00</h3>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12">
              <div class="service-box">
                <div class="review-tag"><span>5.0</span> <span class="fas fa-star"></span></div>
                <div class="sb-image">
                  <span><img src="assets/images/domestic-cleaning-2.png"></span>
                </div>
                <h6 class="mb-1 mt-20">5 Hours Ironing</h6>
                <h3 class="mb-0 theme-color">$ 50.00</h3>
              </div>
            </div> -->
          </div>
         
           <div class="row form-row mt-20 delete-account">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-sm-12">
                <h5>{{'booking_services.access_property' | translate}}</h5>
                <div class="reason-container">
                  <ul class="list-inline">
                    <li>
                      <div class="rc-box">
                        <input checked (click)="manage('I will be at home')"  type="radio" name="a" id="1" class="rd-box">
                        <label for="1">{{'booking_services.access_property_1' | translate}}</label>
                      </div>
                    </li>
                    <li>
                      <div class="rc-box">
                        <input (click)="manage('The keys will be at ... (Concierge, Neighbour, Anywhere within a 5 minute walk)')" type="radio" name="a" id="2" class="rd-box">
                        <label for="2">{{'booking_services.access_property_2' | translate}}</label>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="row form-row mt-20">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-sm-12">
                <h5>{{'booking_services.do_you_have_notes' | translate}}</h5>
                <div class="form-group form-field">
                  <div class="form-field__control">
                    <textarea formControlName="cleaning_descrip" id="notes" type="text" class="form-field__input"  placeholder=""></textarea>
                    <label for="notes" class="form-field__label">{{'booking_services.notes' | translate}}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 booking_summry_box">
        <div class="card booking-summry shadow-sm mb-25">
          <div class="card-header bg-primary"><h5 class="text-white mb-0">{{'booking_services.summary' | translate}}</h5></div>
          <div class="card-body">
            <div class="summry-listings">
              <ul class="list-inline mb-0">
                <li>
                  <div class="sl-item">
                    <span class="fas fa-broom"></span>
                    <span>{{'booking_services.title' | translate}}</span>
                  </div>
                </li>
                <li>
                  <div *ngIf="append_date != '' || append_time != ''" class="sl-item">
                    <span class="fas fa-calendar-minus"></span>
                    <!-- <span>Tues. 12/10/2020 @ 9:00 AM</span> -->
                    <!-- <span>{{append_date}}</span> -->
                    <span>{{append_date}}   {{append_time}}</span>
                  </div>
                </li>
                <li>
                  <div class="sl-item">
                    <span class="fas fa-hourglass-start"></span>
                    <span>{{cleaning_duration}} / H</span>
                  </div>
                </li>
                 <li *ngFor="let inAdd of AddArr">
                  <div class="sl-item">
                    <span class="d-flex align-items-center justify-content-between w-100"><span><b>{{inAdd.service_name}}</b></span> <span><b>€{{inAdd.amount}}</b></span></span>
                  </div>
                </li>
                <li>
                  <div class="sl-item">
                    <input type="checkbox" (click)="checkHappyPoints($event.target.checked)" name="">
                    <!-- <span class="fas fa-stardice-five"></span> -->
                    <span  *ngIf="checkedHappy == 0" >{{'booking_services.happy_points' | translate}} <b>{{happy_point}}</b></span>

                    <span  *ngIf="checkedHappy == 1" >{{'booking_services.happy_points' | translate}} 

                     {{(ConvertToInt(happy_point) * dev_happy_points)-  (ConvertToInt(serviceAmount) + ConvertToInt(a_amount)) > 0 
                      ?
                       
                      ( (ConvertToInt(happy_point) * dev_happy_points) -  (ConvertToInt(serviceAmount) + ConvertToInt(a_amount) ) ) / master_points

                       : 0}}

                   </span>
                  </div>
                </li>
                 <li>
                  <div class="sl-item">
                    <p>{{'booking_services.pay-with' | translate}}</p>
                    <div class="sl-content">
                      <div>
                        <input checked="" (click)="Payment($event.target)" type="radio"  name="gender" value="Stripe">
                        <label for="Credit Card">{{'booking_services.credit-card' | translate}}</label>
                      </div>
                        <br>
                        <div class="sl-item-section">
                           <input (click)="Payment($event.target)" type="radio"  name="gender" value="Paypal">
                           <label for="Paypal">{{'booking_services.Paypal' | translate}}</label><br> 
                        </div>
                    </div>
                    </div>
                </li>
                <!-- <li>
                  <div class="sl-item">
                    <span class="fas fa-map-marker-alt"></span>
                    <span>330, Broadwa Apt Canada</span>
                  </div>
                </li> -->
              </ul>
            </div>
          </div>
          <div class="card-footer">
            <h4 *ngIf="checkedHappy == 0" class="mb-0"><span>{{'booking_services.total_cost' | translate}}:</span> &nbsp; <span class="theme-color">
            € {{ ConvertToInt(serviceAmount) + ConvertToInt(a_amount) }}</span></h4>

            <h4 *ngIf="checkedHappy == 1" class="mb-0"><span>{{'booking_services.total_cost' | translate}}:</span> &nbsp; <span class="theme-color">
            € {{ ConvertToInt(serviceAmount) + ConvertToInt(a_amount) - (ConvertToInt(happy_point)* dev_happy_points) > 0 

          ?

           ConvertToInt(serviceAmount) + ConvertToInt(a_amount) - (ConvertToInt(happy_point) * dev_happy_points) 


         : 0 }}</span></h4>
          </div>
        </div>
        <button  class="btn btn-primary btn-block btn-lg rounded-pill">{{'booking_services.book_now' | translate}}</button>
      </div>
    </div>
  </div>

</div>
</form>