.sl-item input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    margin-right: 15px;
}
.sl-item span b{    font-weight: bold;}
/*.select .selectnew{    margin-top: 0;
    padding-top: 22px;}*/